.autocomplete-item-wrapper {
  margin-top: 2.35rem;
  position: absolute;
  z-index: 1000;
  max-height: 200px;
  width: 100%;
  background-color: #fff;
}

.property-element {
  cursor: pointer;
}

.property-element:hover {
  background-color: #edfff7;
}
